#homepage{
    padding: 11px;
    background-color: #FFFBF3;
}
#homepage section{
    margin: 3rem 0px;
}

.subheadings{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 18px;
    color: #666666;
}
