.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-box {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem; /* right padding for eye icon */
  
  background-color: #FFFBF3;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0.3rem 0;
}

.eye-toggle {
  position: absolute;
  right: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box:focus {
  outline: none;
  border: 1px solid black;
}

.error-text {
  color: #E22D0D;
  font-size: 0.7rem;
  margin-top: 0.25rem;
}
